:root {
  --main-color: #a6ceb6;
  --border-color: #c8f2e5;
  --spacing: 4px;
  --background-color: #f5f3f0;
  --text-color: #303030;
  --card-color: #ffffff;
}
@font-face {
  font-family: "jacquesFrancoisshadow";
  src: url(/Jacques_Francois_Shadow/JacquesFrancoisShadow-Regular.ttf);
}
body {
  background-color: var(--main-color);
}
.mainContainer {
  background-color: var(--border-color);
  border-radius: 40px;
  border: 20px solid var(--border-color);
  width: 1490px;
  height: 940px;
  margin: 100px auto;
}
.gridContainer {
  border-radius: 30px;
  width: 1440px;
  height: 887px;
  margin: 0px auto;
}

.card__content {
  font-weight: 400;
}

.navbar {
  background-color: var(--card-color);
  background: rgb(255, 236, 225);
  background: -moz-linear-gradient(
    146deg,
    rgba(255, 236, 225, 1) 0%,
    rgba(227, 248, 249, 1) 62%
  );
  background: -webkit-linear-gradient(
    146deg,
    rgba(255, 236, 225, 1) 0%,
    rgba(227, 248, 249, 1) 62%
  );
  background: linear-gradient(
    146deg,
    rgba(255, 236, 225, 1) 0%,
    rgba(227, 248, 249, 1) 62%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffece1",endColorstr="#e3f8f9",GradientType=1);
  border-radius: 30px;
  border: 1px solid var(--card-color);
}
.navbar .card__content {
  line-height: calc(var(--spacing) * 12);
}
.navbar .card__content h2 {
  font-size: calc(var(--spacing) * 10);
  font-family: "jacquesFrancoisshadow";
  text-shadow: 2px 2px rgb(251, 210, 5);
}
.navbar .card__content ul {
  font-size: calc(var(--spacing) * 6);
}

.navbar i {
  border-radius: 50%;
  border: 1px solid var(--background-color);
  padding: var(--spacing);
}

.navbar .nav2 .card__content p {
  font-weight: 400;
  font-size: calc(var(--spacing) * 6);
}
.card__content p :first-child {
  font-family: "jacquesFrancoisshadow";
}

.navbar .first {
  border: 2px solid black;
  border-radius: 20px;
  line-height: 16px;
  outline: 1px dashed var(--text-color);
  outline-offset: 1px;
}
.navbar .second {
  border: 2px solid black;
  border-radius: 20px;
  transform: rotate(5deg);
  outline: 1px dashed var(--text-color);
  outline-offset: 2px;
}

.navbar .third {
  border: 2px solid black;
  border-radius: 10px;
  background-color: #ffe9a7;
  transform: rotate(-5deg);
  outline: 1px dashed var(--text-color);
  outline-offset: 2px;
  font-family: "jacquesFrancoisshadow";
}

.navigation {
  background-color: unset;
}
.chef__card {
  background-color: var(--main-color);
}

.chef__card .card__content h2 {
  font-family: "jacquesFrancoisshadow";
  color: #000000;
}
.chef__card .card__image {
  position: relative;
  height: 550px;
  width: 480px;
}

.chef__card .card__image img {
  position: absolute;
  top: -35%;
  right: -90%;
  transform: translate(25%, -25%);
}
.cobb__card {
  background-color: #ffece1;
  box-shadow: 0px 4px 4px 0px #00000040;
  max-width: 580px;
}
.more__information p {
  font-family: "inter";
}
.information p {
  font-family: "inter";
}

.left {
  position: relative;
  width: 148px;
  height: 150px;
}
.left img {
  position: absolute;
  right: 20%;
  transform: translate(-50%, -100%);
}

.navigation {
  margin-top: 120px;
}

.navigation .card__content h3 {
  color: var(--main-color);
}
.navigation .card__content :first-child {
  transform: rotate(360deg);
}

.navigation .card__content .card__icons {
  line-height: 32px;
}
.card__icons :first-child {
  color: var(--main-color);
}
.cesar__card {
  border-bottom: 206px solid #c4eff2;
  border-left: 40px solid transparent;
  border-radius: 30px;
  border-top-left-radius: calc(var(--spacing) * 20);
  border-bottom-left-radius: calc(var(--spacing) * 20);

  height: 206px;
}
.greek__card {
  border-bottom: 205px solid #ffe9a7;
  border-left: 40px solid transparent;
  border-radius: 30px;
  border-top-left-radius: calc(var(--spacing) * 20);
  border-bottom-left-radius: calc(var(--spacing) * 20);

  height: 205px;
}
